<ion-split-pane contentId="main-content" when="md">
  <ion-menu contentId="main-content" type="overlay" class="app-sidebar">
    <ion-content class="sidebar-content">
      <div class="brand">
        <div class="brand-icon">
          <ion-icon name="shield-checkmark"></ion-icon>
        </div>
        <div class="brand-text">
          <strong>DigiPermit</strong>
          <span>Compliance System</span>
        </div>
      </div>

      <nav class="nav-list">
        <ion-menu-toggle auto-hide="false" *ngFor="let item of menuItems">
          <a [routerLink]="item.url" routerLinkActive="active" routerDirection="root" class="nav-link">
            <ion-icon [name]="item.icon"></ion-icon>
            <span>{{ item.title }}</span>
          </a>
        </ion-menu-toggle>
      </nav>

      <div class="sidebar-footer">
        <div class="user-chip">
          <div class="avatar">{{ initials }}</div>
          <div class="user-meta">
            <strong>{{ profileName }}</strong>
            <span>{{ roleLabel }}</span>
          </div>
        </div>
        <button type="button" class="logout-btn" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </button>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
